body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}

/* Define your row styling here */

button.btn {
  border: 2px solid black;
  border-radius: 5px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.btn:hover {
  background-color: #f0f0f0;
  color: #fff;
}

button.btn:disabled {
  color: black;
  cursor: no-drop;
}

.result-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #333;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/* Add more styling for your result text and other elements as needed */